@import './app-vars.scss';
.app-border{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.app-font-small{
    font-size: 0.7rem;
}

.active-element{
    cursor: pointer;
}

.primary-color{
    color: $primary !important;
}

@media (max-width: 479px) {
[dir=ltr] body {
    font-size: 14px !important;
}
[dir=ltr] .btn {
    font-size: 14px !important;
}
}

.revenueByCategory canvas {
  width: 100% !important;
  max-width: 100% !important;
}
